.icon-male
    display: inline-block;
    background-image:url("male.png");
    width:64px;
    height:64px;
.icon-female
    display: inline-block;
    background-image:url("female.png");
    width:64px;
    height:64px;