.custom-table
    border: solid 3px rgba(207,207,209,1);
    .data-warning
        color: red;
    #customTableHeader
        h2
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 15px;
    #customTableContainer
        table
            border-collapse: collapse;
            tr
                border: solid 3px rgba(207,207,209,1);
                border-right: none;
                border-left: none;
            th
               text-transform: uppercase;
               text-align: center;
               min-width: 105px;
               height: 50px;
            td
                padding: 5px;
                text-align: center;
                max-width: 160px;
                word-wrap: break-word;
            tr:nth-child(odd)
                background-color: rgba(255,255,255,0.6);  
            tr:nth-child(even)
                background-color: rgba(255,255,255,0.3);
            tr:first-child
                background-color: rgba(0,76,153,0.2);
            tr:last-child
                border-bottom: none;                              
        .allowClick
            cursor: pointer
        .blockClick
            cursor default
        .active-row
            background-color: rgba(26,106,237,0.5) !important;
            cursor: default !important;

.flex-container
    align-items: center;
.flex-item
    flex-grow: 1;
    align-self: center;