.icon-entity
    vertical-align: middle;
    display: table-cell !important;
.block-txt-2x
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    max-width: 120px;
    word-wrap: break-word;

.block-txt-4x
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;

.entity-container-2x
    display: table;

.entity-container-4x
    display: table;
    padding-left:  20px;
    padding-bottom: 20px;        