.icon-entity
    vertical-align: middle;
    display: table-cell !important;
.block-txt
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    max-width: 120px;
    word-wrap: break-word;