.icon-system
    display: table-cell;
    vertical-align: middle;
    background-image:url("system.png");
    width:64px;
    height:64px;
.icon-user
    display: table-cell;
    vertical-align: middle;
    background-image:url("user.png");
    width:64px;
    height:64px;

.block-txt
    display: table-cell;
    vertical-align: middle;
    margin-left: 20px;