#top-container
    width: 100%;
    margin-top: 10px;
    min-height: 130px;
#bottom-container
    width: 100%;
    margin-top: 10px;
#top-left-container
    width: 66.66%;
    height: 100%;
    float: left;
    border: solid 1px rgba(207,207,209,1);
#top-right-container
    width: 33.33%
    height: 100%;
    float: right;
    border: solid 1px rgba(207,207,209,1);
    padding-bottom: 1.8%;
    padding-top: 1.8%;
    p
        padding: 5px 0px 0px 10px;

#bottom-left-container
    width: 38%;
    float: left;
#bottom-right-container
    width: 62%;
    float: right;

#top-left-top-container
    min-height: 40px;
    border: solid 1px rgba(207,207,209,1);
    padding: 5px;
#top-left-bottom-container
    #top-left-bottom-left-container
        width: 65%;
        height: 100%;
        float: left;
        padding: 15px;
        border-right: solid 2px rgba(207,207,209,1);
    #top-left-bottom-right-container
        width: 35%;
        height: 100%;
        float: right;
        border-left: solid 2px rgba(207,207,209,1);
        padding: 5px;
