#bottom-container
    display: -webkit-flex;
    display: flex;
    margin-top: 10px;

#bottom-left-container
    flex-grow: 1;
    float: left;
#bottom-right-container
    flex-grow: 6;
    float: right;