#top-container
    margin-top: 10px;
    min-height: 130px;
    display: -webkit-flex;
    display: flex;

#top-left-container
    flex-grow: 3;
    border: solid 1px rgba(207,207,209,1);

#top-right-container
    flex-grow: 2;
    border: solid 1px rgba(207,207,209,1);
    border-left: none;
    padding-bottom: 1.8%;
    padding-top: 1.8%;
    p
        padding: 5px 0px 0px 10px;

#top-left-top-container
    min-height: 40px;
    border: solid 1px rgba(207,207,209,1);
    border-right: none;
    padding: 5px;
#top-left-bottom-container
    display: flex;
    display: -webkit-flex;
#top-left-bottom-container
    #top-left-bottom-left-container
        flex-grow: 1;
        padding: 15px;
        border-right: solid 1px rgba(207,207,209,1);
    #top-left-bottom-right-container
        flex-grow: 1;
        padding: 5px;
