.date-icon
    display: inline-block;
    background-image:url("date_picker.png");
    width:32px;
    height:32px;
    margin: -10px 20px;
    cursor: pointer;

.custom-date-range
    input
        width: 230px;    

.active-date
    display: block !important;        