.date-icon
    display: inline-block;
    background-image:url("date_picker.png");
    width:32px;
    height:32px;
    margin: -10px 20px;
    cursor: pointer;

.custom-date-range
    input
        width: 230px;    

.active-date
    display: block !important;
.label-container
    width: 100%
    .from-label
        float: left;
        width: 55%;
    .to-label
        float: right;
        width: 45%;