.custom-tab-header
    display: table;
.icon-container-green
    display: table-cell !important;
    color: orange;
    vertical-align: middle !important;
.icon-container-blue
    display: table-cell !important;
    color: blue;
    vertical-align: middle !important;    
.header-txt-container
    display: table-cell;
    vertical-align: middle ;
    padding-left: 5px;