.custom-expand-collapse
    margin: 0px 0px 0px 20px;

.left-container
    float: left;
    width: 10%;

.right-container
    float: right;
    width: 90%;        
.panel-title
    a  
        cursor: pointer;

.icon-graph
    display: table-cell;
    vertical-align: middle;
    background-image:url("graph_icon.png");
    width:48px;
    height:48px;