.custom-expand-collapse
    margin: 0px 0px 0px 20px;

.left-container
    float: left;
    width: 10%;

.right-container
    float: right;
    width: 90%;        
.panel-title
    a  
        cursor: pointer;

.icon-graph
    display: table-cell !important;
    vertical-align: middle;