.icon-arr-down
    display: inline-block;
    background-image:url("arrow.png");
    width:48px;
    height:48px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    -webkit-transition: transform 0.3s linear; /* Safari */
    transition: transform 0.3s linear;

.icon-arr-up
    display: inline-block;
    background-image:url("arrow.png");
    width:48px;
    height:48px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    -webkit-transition: transform 0.3s linear; /* Safari */
    transition: transform 0.3s linear;