.icon-arr-down
    display: inline-block;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    -webkit-transition: transform 0.3s linear; /* Safari */
    transition: transform 0.3s linear;
    padding-right: 10px;

.icon-arr-up
    display: inline-block;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    -webkit-transition: transform 0.3s linear; /* Safari */
    transition: transform 0.3s linear;
    padding-left: 10px;